/* styles.css or your component-specific style file */

.candidate-list-container {
    text-align: center;
  }
  
  .candidate-list {
    list-style-type: none;
    padding: 0;
  }
  
  .candidate-list li {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .candidate-list li:hover {
    background-color: #ddd;
  }
  