<div class="modal-header">
  <h5 class="modal-title">
     Inscrire à un événement
  </h5>
</div>

<div class="modal-body">

  <form #registrationForm="ngForm" (ngSubmit)="registerForEvent()" class="needs-validation" novalidate>

    <div class="form-group">
      <label for="firstName" class="col-form-label">Nom</label>
      <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" class="form-control" required />
      <div class="invalid-feedback">
        Merci de donner votre nom.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName" class="col-form-label">Prénom</label>
      <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control" required />
      <div class="invalid-feedback">
        Merci de donner votre prénom.
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-form-label">Email</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required />
      <div class="invalid-feedback">
        Merci de donner votre addresse email.
      </div>
    </div>

    <div class="form-group">
      <label for="telephone" class="col-form-label">Téléphone</label>
      <input type="text" id="telephone" [(ngModel)]="user.telephone" name="telephone" class="form-control" required />
      <div class="invalid-feedback">
        Merci de donner votre telephone.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.form.valid">S'inscrire</button>
  </form>
</div>
