.modal-header {
    background-color: #4682b4; /* Bleu acier */
    color: #fff; /* Texte blanc */
    border-bottom: 1px solid #87ceeb; /* Bordure bleu ciel en bas */
  }
  
  .modal-body {
    background-color: #f0f8ff; /* Bleu pâle */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    border: 1px solid #87ceeb; /* Bleu ciel */
    border-radius: 5px;
  }
  
  .form-label {
    color: #4682b4; /* Bleu acier */
  }
  
  .btn-primary {
    background-color: #4682b4; /* Bleu acier */
    border-color: #4682b4; /* Bleu acier */
  }
  
  .btn-primary:hover {
    background-color: #5f9ea0; /* Bleu cadet */
    border-color: #5f9ea0; /* Bleu cadet */
  }
  